body {
    margin: 0 0 0 0;
}

.rouge {
    background-color: red;
    color: aliceblue;
}

.vert {
    background-color: green;
    color: aliceblue;
}


.transition {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    animation: transi;
    animation-duration: 0.5s;
}

@keyframes transi {
    0% {width: 0%; height: 0%;}
    100% {width: 100%; height: 100%;}
}

.transitionClose {
    position: absolute;
    top: 0;
    background-color: aqua;
    animation: transiclose 0.5s;
}
@keyframes transiclose {
    0% {width: 100%; height: 100%;}
    100% {width: 0%; height: 0%;}
}


.Brique {
    background-color: rgb(193, 49, 49);
    border: black solid 2px;
    height : 10vh;
    width : 15vh;
}